.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    /*margin-right: 200px;*/
    /*margin-left: 200px;*/
    background: #eeeeee;
}

.container .sidebar, .container .main {
    padding: 10px;

}

.container .sidebar {
    width: 300px;
    float: left;
    background-color: palevioletred;
}

.container .main {
    margin-left: 320px;
    min-height:200vh;
    border-left: 2px solid #333;
    /*border-right:10px solid blue;*/
    background-color: blanchedalmond;
}


